<p>
	Esto es solo un ejemplo de show.
</p>
<dl>
	<dt>Nombre:&nbsp;</dt>
	<dd><%= @user.first_name %></dd>
	<dt>Apellido:&nbsp;</dt>
	<dd><%= @user.last_name %></dd>
	<dt>Nombre de usuario:&nbsp;</dt>
	<dd><%= @user.username %></dd>
	<dt>Gihub URL:&nbsp;</dt>
	<dd><%= link_to @user.github_url, @user.github_url %></dd>
</dl>

